<div id="mydiv">
    @(Html.Kendo().Upload()
        .Name("file")
        .Multiple(false)
        .Async(a => a
            .Save("SaveDocumentFicheLink", "DocumentsFiche")
            .AutoUpload(true)

        )
        .Events(e => e.Success("docSuccess").Upload("docUpload").Select("docSelect"))
    )
</div>