@model Previgesst.ViewModels.EmployeRegistreViewModel
@using Previgesst.Ressources.Previcad


@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutClientMobile.cshtml";
}


<main class="main-container-wrapper">
    <div class="main-container-content">
        <div class="main-section-tile">
            <h2>@PrevIndexRES.Fiches</h2>
        </div>
        <div class="main-section-content">
            <a class="btn btn-primary" href="/RegistreMobile/ScanQR">
                <img src="/content/v2/images/scanner.svg">
                <span>@PrevFicheRES.ScanQR</span>
            </a>
            <a class="btn btn-secondary" id="btnClearQRFilter">
                <span>@PrevFicheRES.ClearQRFilter</span>
            </a>
        </div>
    </div>
</main>

