@model Previgesst.ViewModels.EmployeRegistreViewModel
@using Previgesst.Ressources.Previcad


@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutClientMobile.cshtml";
}



<section>
    <div class="container white-light-bg rounded-2 mt-3 mt-md-5">
        <div class="text-center p-3 p-md-5">
            <h3 class="fw-bold heading-color">@PrevIndexRES.Fiches</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                <br> ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                <br> exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <div class="row mt-4">
                <div class="col-12 col-md-6 text-center">
                    <a class="btn btn-lg btn-outline-primary d-block" href="/RegistreMobile/ScanQR">
                        <i class="ri-barcode-box-line ri-6x d-block"></i>
                        @PrevFicheRES.ScanQR
                    </a>
                </div>
                <div class="col-12 col-md-6 text-center">
                    <a href="" class="btn btn-lg btn-outline-primary d-block" id="btnClearQRFilter">
                        <i class="ri-filter-off-line ri-6x d-block"></i>
                        @PrevFicheRES.ClearQRFilter
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>



