@using Previgesst.Ressources
@{
    ViewBag.Title = "Portail";
    Layout = "~/Views/Shared/_Layout_v2.cshtml";
}


<main class="main-container-wrapper page-container">

    <div class="breadcrumbs-nav-wrapper">
        <ul class="breadcrumbs">
            <li><a href="#">@LayoutRES.Accueil</a></li>
            <li>Home</li>
        </ul>
    </div>


    <div class="main-page-content">

        <div class="table-top-header">
            <div class="page-title d-flex justify-content-center align-items-center">
                <h3>Point d'entrée authentifiée du portail</h3>
            </div>
        </div>

        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</main>
