
@{
    ViewBag.Title = "IndexTempo";
    Layout = "~/Views/Shared/_LayoutClient_v2.cshtml";
}

<h2>IndexTempo</h2>



<a href="~/FicheCadenassage/getFiche?id=6" class="btn btn-primary">Voir la fiche</a>