@using Previgesst.Ressources.Cadenassage
@model List<Previgesst.ViewModels.EquipementQRViewModel>

@{
    ViewBag.Title = "Print QR";
    Layout = null;
}

<style type="text/css">
    body{
        font-family: Arial;
        font-size:14px;
    }
    .center {
        margin-left: auto;
        margin-right: auto;
    }

    .btn-info {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;



        color: #fff;
        background-color: #5bc0de;
        border-color: #46b8da;
    }
    @@media print {
        .noPrint {
            display: none;
        }
    }
</style>

<div class="container-fluid">
    @if (Model != null && Model.Count() > 0)
    {

        <button onclick="window.print();" class="noPrint btn-info">
            Print Me
        </button>

        <table cellpadding="0" cellspacing="0" border="0" class="center">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@item.QRCode" alt="QR Code" width="200" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>@item.NomClient</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Equipment # @item.EquipementId</label>
                        <br />
                        <br />
                        <br />
                    </td>
                </tr>
            }
        </table>

    }
    else
    {
        <p>There are no QR codes available.</p>
    }
</div>
