@using Previgesst.Ressources
@{
    ViewBag.Title = "Erreur";
    Layout = "~/Views/Shared/_Layout_v2.cshtml";
}

<main class="main-container-wrapper page-container">

    <div class="breadcrumbs-nav-wrapper">
        <ul class="breadcrumbs">
            <li><a href="#">@LayoutRES.Accueil</a></li>
            <li>@LayoutRES.Desole</li>
        </ul>
    </div>


    <div class="main-page-content">

        <div class="table-top-header">
            <div class="page-title d-flex justify-content-center align-items-center">
                <h3>@LayoutRES.DesoleMessage</h3>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</main>

