
.card-wrapper-link{
    cursor: pointer;
}

.link-no-style {
    text-decoration: none; 
    color: #FFF;
}

    .link-no-style:hover {
        text-decoration: none;
        color: #FFF;
    }

.validation-summary-errors ul li {
    list-style-type: none;
}

.previcad-form-label {
    color: #0835B0;
    font-size: 18px;
    font-family: HKGrotesk-SemiBold;
}


.previcad-form-label-white {
    color: #fff;
    font-family: HKGrotesk-SemiBold;
}


.main-container-wrapper .main-container-content {
    background-color: #ebe9e8;
    padding: 11px 25px;
    height: calc(100vh - 85px);
    border-radius: 25px;
    overflow: auto;
}

.main-container-wrapper {
    /*margin-top: 60px;*/
    padding: 5px 18px;
}


    .main-container-wrapper-grid {
        margin-top: 60px;
    }

.td-round-left-border {
    border-radius: 50px 0px 0px 0px !important;
    border: none;
    padding: 20px 0.6em;
    border-left-width: 0
}

.btn-grid-blue {
    color: var(--white);
    background-color: #060144;
    border-color: var(--editbtnbg);
    font-size: 15px;
    font-weight: 600;
    border-radius: 30px;
}
    .btn-grid-blue:hover {
        color: var(--white);
    }

.k-icon{
    background-image: none;
}


.form-control:disabled, .form-control[readonly] {
    background-color: #EBE9E8;
    border: 2px solid #ccc;
}

.btn-success {
    color: var(--white);
    /*background-color: var(--brandlightblue);
    border-color: var(--brandlightblue);*/
    font-family: "IBM Plex Sans";
    font-size: 15px;
    padding: 11px 25px;
    border-radius: 30px;
}

.squaredThree-blue label {
    border: 1px solid #0835B0 !important;
}