
.card-wrapper-link{
    cursor: pointer;
}

.link-no-style {
    text-decoration: none; 
    color: #FFF;
}

    .link-no-style:hover {
        text-decoration: none;
        color: #FFF;
    }

.validation-summary-errors ul li {
    list-style-type: none;
}

.previcad-form-label {
    color: #0835B0;
    font-size: 18px;
}

.main-container-wrapper .main-container-content {
    background-color: #ebe9e8;
    padding: 11px 25px;
    height: calc(100vh - 85px);
    border-radius: 25px;
    overflow: auto;
}

.main-container-wrapper {
    /*margin-top: 60px;*/
    padding: 5px 18px;
}


    .main-container-wrapper-grid {
        margin-top: 60px;
    }

.td-round-left-border {
    border-radius: 50px 0px 0px 0px !important;
    border: none;
    padding: 20px 0.6em;
    border-left-width: 0
}

.btn-grid-blue {
    color: var(--white);
    background-color: #060144;
    border-color: var(--editbtnbg);
    font-size: 15px;
    font-weight: 600;
    border-radius: 30px;
}
    .btn-grid-blue:hover {
        color: var(--white);
    }

.k-icon{
    background-image: none;
}


.form-control:disabled, .form-control[readonly] {
    background-color: #EBE9E8;
    border: 2px solid #ccc;
}

.btn-success {
    color: var(--white);
    /*background-color: var(--brandlightblue);
    border-color: var(--brandlightblue);*/
    font-family: "IBM Plex Sans";
    font-size: 15px;
    padding: 11px 25px;
    border-radius: 30px;
}

.squaredThree-blue label {
    border: 1px solid #0835B0 !important;
}


.k-button.k-button-icontext .k-icon.k-edit, .btn-table.btn-edit .k-icon.k-edit, .btn-table.k-grid-cancel .k-icon.k-cancel, .btn-table.k-grid-update .k-icon.k-update, .btn-table.btn-excel .k-icon.k-i-excel {
    display: none;
}

.btn-table.k-grid-update .k-icon.k-update {
    display: none;
}

.img-eq, .img-ins{
    width: 108px;
    height: 108px;
}
/*.btn-edit.buttonView::before{
    content:" ";
    padding:0;
}*/

.k-grid tbody .k-button {
    min-width: auto !important;
}

.modal.show, .k-overlay {
    background-color: var(--branddarkblue) !important;
    opacity: 1 !important;
}

/*.k-multiselect .k-button {
    border-radius: 30px !important;
    padding-right: 5px;
}*/

/* popup fix - start */

/*div.k-edit-form-container {
    width: auto !important;
    overflow: hidden !important;
}


    div.k-edit-form-container div.editor-field textarea, input.k-textbox, .k-dropdown {
        width: 100% !important;
        max-width: none !important;
    }*/

/* popup fix - end */


.lh-50{
    line-height: 50px !important;
}

.k-upload-button.btn-img span{
    display: none;
}
.imagedd .k-dropdown .k-dropdown-wrap .k-input {
    height: 70px;
}




/* Image only Upload Override - Start */

.btn-image-upload-only .k-button.k-upload-button {
    color: var(--white);
    background-color: #fff;
    border-color: var(--branddarkblue);
    font-size: 15px;
    font-weight: 600;
    border-radius: 50%;
    padding: 12px 11px;
    line-height: 0px;
    min-width: auto !important
}

    .btn-image-upload-only .k-button.k-upload-button:before {
        content: url("images/image-icon.svg");
    }

    .btn-image-upload-only .k-button.k-upload-button:hover {
        color: var(--white);
        background-color: #fff;
        border-color: var(--branddarkblue);
    }

    .btn-image-upload-only .k-button.k-upload-button.focus, .btn-image-upload-only .k-button.k-upload-button:focus {
        color: var(--white);
        background-color: #fff;
        border-color: var(--branddarkblue);
        box-shadow: 0 0 0 0.2rem rgba(33, 122, 147, .25);
    }

    .btn-image-upload-only .k-button.k-upload-button:not(:disabled):not(.disabled).active,
    .btn-image-upload-only .k-button.k-upload-button:not(:disabled):not(.disabled):active, 
    .show > .btn-image-upload-only .k-button.k-upload-button.dropdown-toggle {
        color: var(--white);
        background-color: #fff;
        border-color: var(--branddarkblue);
    }

        .btn-image-upload-only .k-button.k-upload-button:not(:disabled):not(.disabled).active:focus,
        .btn-image-upload-only .k-button.k-upload-button:not(:disabled):not(.disabled):active:focus,
        .show > .btn-image-upload-only .k-button.k-upload-button.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(33, 122, 147, .25);
        }

/* Image only Upload Override - end */


.btn-image-upload-only .k-button.k-upload-button span{
    display: none;
}

/* Image only Upload Override */
.k-widget.k-dropdown.k-header, .k-widget.k-numerictextbox.form-control {
    width: 100%;
}
.k-grid-pager .k-widget.k-dropdown.k-header, .k-grid-pager .k-widget.k-numerictextbox.form-control {
    width: auto;
}


.form-control.petit {
    width: 95% !important;
}


.left-sidebar .nav li.nav-item.active p {
    color: var(--brandlightblue);
    font-style:italic;
}

.k-widget.k-tooltip-validation {
    color: var(--annulerbtnbg) !important;
    position: static;
    text-align: left;
}
    .k-widget.k-tooltip-validation:after {
        clear: both;
    }
    .k-widget.k-tooltip-validation .k-icon.k-warning{
        display: none;
    }
    /*    .k-widget.k-tooltip-validation .k-callout.k-callout-n {
        color: var(--annulerbtnbg) !important;
    }*/
    .home-navlink.big img {
        width: 40px;
        margin-bottom: -5px;
    }

/*.bg-white{
    background-color: #FFF;
    padding-right: 3rem;
    padding-left: 3rem;
}*/


#generic-popup pre{
    display: none;
}


/* popup head override */
.k-widget.k-window {
    /*padding-top: 25px !important*/
    
    padding-top: 55px;
    padding-left: 20px;
    padding-right: 20px;
}
    .k-widget.k-window .k-window-actions {
        /*display: none;*/
        right: 2.3em;
    }

    .k-widget.k-window .k-window-title {
        right: 2.44em;
    }

    .k-widget.k-window .k-window-titlebar.k-header {
        /*margin-top: -10px !important;
        margin-left: 10px !important;*/
        color: var(--branddarkblue) !important;
        z-index: 999;
    }

    .k-widget.k-window .bg-white textarea.form-control {
        border: 1px solid #cccccc !important;
        box-sizing: border-box;
        height: auto !important;
    }
    .k-widget.k-window .bg-white input[type=text].form-control,
    .k-widget.k-window .bg-white input[type=number].form-control {
        border: 1px solid #cccccc !important;
    }
    .k-widget.k-window .k-edit-form-container .k-edit-buttons{
        border: none;
        border-style: none;
    }

    .k-widget.k-window.blue-header {
        /*padding-top: 0 !important;*/
        border: none;
    }

        .k-widget.k-window.blue-header .k-window-titlebar.k-header {
            background-color: var(--detailbtnbg) !important;
            /*padding: 9px 1px;
            margin: -1px !important;*/
            color: #FFF !important;
            border-top-right-radius: 19px;
            border-top-left-radius: 19px;

            left: 0;
        }

        .k-widget.k-window.blue-header .k-window-title {
            /*right: 2.44em;*/
            padding-left: 10px;
        }

/* popup head override */


.popup-mx-h{
    max-height: 500px;
    overflow: scroll;
}

/***** Remove Arrows/Spinners *****/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/***** Remove Arrows/Spinners *****/
.k-window-action.k-link,
.k-window-action.k-link:hover {
    border: 2px solid var(--annulerbtnbg);
    border-radius: 15px !important;
}

.main-page-heading{
    min-height: 50px;
}

.h-300 {
    height: 300px !important;
    line-height: 25px;
}

.k-grid-height {
    height: 600px;
}

/*.k-window-actions .k-icon.k-i-close {
    border-radius: 20px;
    padding: 4px;
    background-position: -43px -21px;
    background-size: 470px;
    border: 1px solid red;
}

.k-window-action.k-link:hover {
    border: none;
    padding: 3px;
}
*/

/*.k-window-action.k-link {
    margin-right: 20px;
    margin-block: 15px;
}
    .k-window-action.k-link:hover{
        border: none;
        padding:3px;
    }

    .k-window-actions .k-icon.k-i-close {
        color: var(--white);
        background-color: transparent;
        border-color: var(--delbtnbg);
        font-size: 15px;
        font-weight: 600;
        border-radius: 50%;*/
        /*padding: 12px 14px;*/
        /*line-height: 0px;
        background-image: none;
        padding: 5px;
    }

    .k-window-actions .k-icon.k-i-close:before {
        content: url("images/delete.svg");
    }

    .k-window-actions .k-icon.k-i-close:hover {
        color: var(--white);
        background-color: transparent;
        border-color: var(--delbtnbg);
    }

    .k-window-actions .k-icon.k-i-close.focus, 
    .k-window-actions .k-icon.k-i-close:focus {
        color: var(--white);
        background-color: transparent;
        border-color: var(--delbtnbg);
        box-shadow: 0 0 0 0.2rem rgba(33, 122, 147, .25);
    }

    .k-window-actions .k-icon.k-i-close:not(:disabled):not(.disabled).active,
    .k-window-actions .k-icon.k-i-close:not(:disabled):not(.disabled):active, 
    .show > .k-window-actions .k-icon.k-i-close.dropdown-toggle {
        color: var(--white);
        background-color: transparent;
        border-color: var(--delbtnbg);
    }

        .k-window-actions .k-icon.k-i-close:not(:disabled):not(.disabled).active:focus,
        .k-window-actions .k-icon.k-i-close:not(:disabled):not(.disabled):active:focus,
        .show > .k-window-actions .k-icon.k-i-close.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(33, 122, 147, .25);
        }

    .k-window-actions .k-icon.k-i-close img {
        position: relative;
        top: -3px;
    }*/