@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutClientNEW.cshtml";
}

<br /><br />

<div class="container">

    <div class="row">
        <div class="col-md-3">col</div>
        <div class="col-md-3">col</div>
    </div>



</div>

